%section.hero-splash{style: "background: linear-gradient(rgba(41, 50, 57, 0.2), rgba(62, 70, 76, 0.4)), url('https://images.unsplash.com/photo-1512149673953-1e251807ec7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80') center no-repeat; background-size: cover !important;"}
  .container
    .centered-row
      -# %h1
      -#   = 'We bring tech to the table?'.html_safe
      %h4
        = 'We are ready to extend your in-house talent or put togehter a fully dedicated team of engineering professionals, architects, and project managers with proven experience in creating architecture, building complete solutions, deployment, and production operations'
    %table
      %tbody
        %tr
          %td Creative collaborations
          %td Focused on business value
        %tr
          %td Scoping, planning, implementation
          %td Remote or on-site
        %tr
          %td Cross-functional teams
          %td Responsive to change
        %tr
          %td Modern technologies and tested code
          %td Well crafted and robust solutions

