%section.hero-splash
  .container
    .centered-row
      -# %h1
      -#   = 'We bring tech to the table?'.html_safe
      %h4
        = 'We are ready to extend your in-house talent or put togehter a fully dedicated team of engineering professionals, architects, and project managers with proven experience in creating architecture, building complete solutions, deployment, and production operations'
    %table
      %tbody
        %tr
          %td Creative collaborations
          %td Focused on business value
        %tr
          %td Scoping, planning, implementation
          %td Remote or on-site
        %tr
          %td Cross-functional teams
          %td Responsive to change
        %tr
          %td Modern technologies and tested code
          %td Well crafted and robust solutions

