%section
  .container
    .centered-row
      %h1 Agile teams
      %h4.leader{style: 'margin-top: -20px;'} As A Service
    .centered-row
      %h5 Want to build your first MVP but don't know where to start?
      %h4 Our developers, designers and Devops specialists together with a dedicated product owner will bring your idea to life.
      = partial 'partials/forge'
    %h3 What we help you with
    .centered-row
      %table
        %tbody
          %tr
            %td Creative collaborations
            %td Focused on business value
          %tr
            %td Scoping, planning, implementation
            %td Remote or on-site
          %tr
            %td Cross-functional teams
            %td Responsive to change
          %tr
            %td Modern technologies and tested code
            %td Well crafted and robust solutions
