%section
  .container
    .centered-row
      %h2 Agile teams
      %h4.leader{style: 'margin-top: -20px;'} As A Service
    .centered-row
      %h5 Want to build your first MVP but don't know where to start?
      .container
        Our developers, designers and DevOps specialists together with a dedicated product owner will bring your idea to life.
    .centered-row
      %table
        %tbody
          %tr
            %td Creative collaborations
            %td Focused on business value
          %tr
            %td Scoping, planning, implementation
            %td Remote or on-site
          %tr
            %td Cross-functional teams
            %td Responsive to change
          %tr
            %td Modern technologies
            %td Well crafted and robust solutions
