%section
  .container{style: 'margin-bottom: 0;'}
    .centered-row
      %h1 Agile Team As A Service
    %h4 
      Build your product with a team that establishes a clear design process, meets deadlines and delivers well-engineered and engaging solutions.
      Our developers, designers and Devops will bring your ideas to life.
