%section.hero-splash{style: "background: linear-gradient(rgba(41, 50, 57, 0.2), rgba(62, 70, 76, 0.4)), url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80') center no-repeat; background-size: cover !important;"}
  .container
    %h1
      = 'Want to learn more?'.html_safe
    = link_to 'Let’s talk', 'mailto:info@craftacademy.se', class: 'button button--horizontal'
