%section
    .container
        .centered-row
        %h5 Forged with innovation, engineered to endure
        %h4 Our methodologies make sure that the applications we develop are fully tested with over 90% test coverage. We use agile methodologies to always deliver features on a regular basis and always put your end-user first.
