- description 'Agile teams that connects the dots - Business, People, Technology'
%section.hero-splash{style: "background: linear-gradient(rgba(41, 50, 57, 0.2), rgba(62, 70, 76, 0.4)), url('https://images.unsplash.com/photo-1448932223592-d1fc686e76ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80') center no-repeat; background-size: cover !important;"}
  .container
    %h4.leader CRAFT ACADEMY LABS
    %h1
      = 'Get your MVP finally built'.html_safe
    %h4
      = 'Agile teams as a service'.upcase
    .container
    = link_to 'Learn More', 'mailto:info@craftacademy.se', class: 'button button--horizontal'
