%section
  .container
    .centered-row
      -# %h4.leader Optional Leader
      %h2 Agile Team As A Service
      -# %h4.subheader Optional Subheader
      %p 
        Build your product with a team that establishes a clear design process, meets deadlines and delivers well-engineered and engaging solutions.
        Our developers, designers and Devops will bring your ideas to life.
    .four-width-row
      .column
        = image_tag icon_path("experience.svg"), class: "image--medium"
        %h4 EXPERIENCE
        %p We have worked with many entrepreneurs to launch projects. Let us share our experience with you.
        -# .button-row
        -#   %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"
      .column
        = image_tag icon_path("expertise.svg"), class: "image--medium"
        %h4 TECH EXPERTISE
        %p Our specific tech expertise is the optimal choice for buildin an MVP or take your product to a new level.
        -# .button-row
        -#   %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"
      .column
        = image_tag icon_path("partnership.svg"), class: "image--medium"
        %h4 PARTNERSHIP
        %p Engaging applications are designed and built in close collaboration between business people and developers.
        -# .button-row
        -#   %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"
      .column
        = image_tag icon_path("projection.svg"), class: "image--medium"
        %h4 LEAN + AGILE = SUCCESS
        %P Lean approach and an Agile mindset in development makes us flexible to changes, but strict to deadlines.
        -# .button-row
        -#   %p= link_to "Optional CTA", "#", target: "_blank", class: "button button--horizontal"