/ Twitter Card data
%meta{content: 'TECH STRATEGIES FOR STARTUPS. Connect the dots - Business, People, Technology', name: 'twitter:card'}
%meta{content: '@CradftAcademySE', name: 'twitter:site'}
%meta{content: 'https://www.craftacademylabs.com/', name: 'twitter:url'}
%meta{content: 'Craft Academy Labs ', name: 'twitter:title'}
%meta{content: 'TECH STRATEGIES FOR STARTUPS. Connect the dots - Business, People, Technology', name: 'twitter:description'}
%meta{content: '@CraftAcademySE', name: 'twitter:creator'}
/ Twitter Summary card images must be at least 120x120px8
%meta{content: 'http://assets.craftacademy.se/images/logo/ca_labs_preview.png', name: 'twitter:image'}
/ Open Graph data
%meta{content: 'TECH STRATEGIES FOR STARTUPS. Connect the dots - Business, People, Technology', property: 'og:title'}/
%meta{content: 'website', property: 'og:type'}/
%meta{content: 'https://www.craftacademylabs.com', property: 'og:url'}/
%meta{content: 'http://assets.craftacademy.se/images/logo/ca_labs_preview.png', property: 'og:image'}/
%meta{content: 'TECH STRATEGIES FOR STARTUPS. Connect the dots - Business, People, Technology', name: 'og:description'}
%meta{content: 'Craft Academy Labs', property: 'og:site_name'}/
%meta{content: '1359036403', property: 'fb:admins'}/
/ Google Site Verification
%meta{name: 'google-site-verification', content: '98Gisjh08Ju69wUrJ2K6t4uRMy9P3XYaQYFc1aDGaeA'}/
