- description 'Agile teams that connects the dots - Business, People, Technology'
%section.hero-splash{style: "background: linear-gradient(rgba(41, 50, 57, 0.2), rgba(62, 70, 76, 0.4)), url('https://c2.staticflickr.com/8/7040/6973226061_905b62318b_b.jpg') center no-repeat; background-size: cover !important;"}
  .container
    .centered-row
      %h4.leader CRAFT ACADEMY LABS
      %h1
        = 'Business<br>People<br>Technology'.html_safe
      %h4
        = 'We power your ideas'.upcase

= partial 'partials/benefits_table'
= partial 'partials/faqs'

